<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Predicted car</title>
  </head>
  <body>

    <hr size="10" color="skyblue">
    <center>
      <img src="../static/car.png" alt="carImage" height="80", width="180">
      <h1 color="blue">Get Correct Price Of Your Car</h1>
      <h3><em>New Thinking New Possibilies !</em></h3>
      <hr size="5" color="skyblue">
    <center>

    <center>
      <h1>Predicted Price of Your Car is : {{price}} INR</h1>

    </center>


  </body>
</html>
